body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-right: 50px;
    height: 100vh;
}

.loginForm {
    background: #fff;
    padding: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
}

.loginForm form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}


.loginForm input[type="text"],
.loginForm input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.rememberPass {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.forgotPass-link {
    text-decoration: none;
    color: #007BFF;
    cursor: pointer;
}

.forgotPass-link:hover {
    text-decoration: underline;
}

button {
    padding: 10px;
    border: none;   
    background: #2d8fff;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #3033fa;
}

footer {
    margin-top: 20px;
}
